In [1]:
import pandas as pd
import os

In [4]:
files = [file for file in os.listdir('./score2021')]
print (files)

['score2021_1-9.csv', 'score2021_20-29.csv', 'score2021_30-39.csv', 'score2021_40-49.csv', 'score2021_50-59.csv', 'score2021_60-64.csv']

In [5]:
data = pd.DataFrame()

for i in files:
    print(i)
    df = pd.read_csv("./score2021/"+i, encoding='utf-8',sep=",", low_memory=False)
    data = pd.concat ([data, df])

score2021_1-9.csv
score2021_20-29.csv
score2021_30-39.csv
score2021_40-49.csv
score2021_50-59.csv
score2021_60-64.csv

In [9]:
data.to_csv("score2021.csv", index=False)

In [6]:
data

,STT,Cụm Thi,Họ Tên,SBD,Ngày sinh,Giới tính,Toán (D1),Ngữ văn (D2),Vật lí (D3),Hóa học (D4),Sinh học (D5),KHTN (D6),Lịch sử (D7),Địa lí (D8),GDCD (D9),KHXH (D10),Ngoại ngữ (D11),D12
0,1.0,NaN,NaN,1000001,NaN,NaN,2.2,3.50,NaN,NaN,NaN,NaN,2.50,5.50,NaN,NaN,NaN,NaN
1,1.0,NaN,NaN,1000002,NaN,NaN,9.2,8.25,NaN,NaN,NaN,NaN,5.75,9.75,9.25,NaN,10.0,NaN
2,1.0,NaN,NaN,1000003,NaN,NaN,4.4,6.25,NaN,NaN,NaN,NaN,4.25,4.00,NaN,NaN,NaN,NaN
3,1.0,NaN,NaN,1000004,NaN,NaN,8.4,6.75,4.00,3.00,3.50,NaN,NaN,NaN,NaN,NaN,10.0,NaN
4,1.0,NaN,NaN,1000005,NaN,NaN,8.8,8.25,8.25,5.75,5.25,NaN,NaN,NaN,NaN,NaN,9.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37291,NaN,NaN,NaN,64006864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37292,NaN,NaN,NaN,64006865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37293,NaN,NaN,NaN,64006866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37294,NaN,NaN,NaN,64006867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37295,NaN,NaN,NaN,64006868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data = data.drop(columns=['STT'])

In [8]:
data['Cụm Thi'] = data['SBD'].astype('str').str[:-6]
data

,Cụm Thi,Họ Tên,SBD,Ngày sinh,Giới tính,Toán (D1),Ngữ văn (D2),Vật lí (D3),Hóa học (D4),Sinh học (D5),KHTN (D6),Lịch sử (D7),Địa lí (D8),GDCD (D9),KHXH (D10),Ngoại ngữ (D11),D12
0,1,NaN,1000001,NaN,NaN,2.2,3.50,NaN,NaN,NaN,NaN,2.50,5.50,NaN,NaN,NaN,NaN
1,1,NaN,1000002,NaN,NaN,9.2,8.25,NaN,NaN,NaN,NaN,5.75,9.75,9.25,NaN,10.0,NaN
2,1,NaN,1000003,NaN,NaN,4.4,6.25,NaN,NaN,NaN,NaN,4.25,4.00,NaN,NaN,NaN,NaN
3,1,NaN,1000004,NaN,NaN,8.4,6.75,4.00,3.00,3.50,NaN,NaN,NaN,NaN,NaN,10.0,NaN
4,1,NaN,1000005,NaN,NaN,8.8,8.25,8.25,5.75,5.25,NaN,NaN,NaN,NaN,NaN,9.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37291,64,NaN,64006864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37292,64,NaN,64006865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37293,64,NaN,64006866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37294,64,NaN,64006867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37295,64,NaN,64006868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
data.mean(skipna=True)

Cụm Thi                     inf
SBD                2.632306e+07
Toán (D1)          6.647400e+00
Ngữ văn (D2)       6.467908e+00
Vật lí (D3)        6.580818e+00
Hóa học (D4)       6.626637e+00
Sinh học (D5)      5.516905e+00
KHTN (D6)          6.119569e+00
Lịch sử (D7)       4.986158e+00
Địa lí (D8)        6.966263e+00
GDCD (D9)          8.388469e+00
KHXH (D10)         7.031638e+00
Ngoại ngữ (D11)    5.912300e+00
D12                         NaN
dtype: float64

# Analysis

hôm nay là ngày thứ bảy