In [132]:
import pandas as pd
import os

## Transform data

### Join files

Get all the files name

In [133]:
files = [file for file in os.listdir('./score2021')]
print (files)

['score2021_1-9.csv', 'score2021_10-19.csv', 'score2021_20-29.csv', 'score2021_30-39.csv', 'score2021_40-49.csv', 'score2021_50-59.csv', 'score2021_60-64.csv', 'score2021_full.csv']

Iterate through each file, read then append to data

In [134]:
data = pd.DataFrame()

for i in files:
    print(i)
    df = pd.read_csv("./score2021/"+i, encoding='utf-8',sep=",", low_memory=False)
    data = pd.concat ([data, df])

score2021_1-9.csv
score2021_10-19.csv
score2021_20-29.csv
score2021_30-39.csv
score2021_40-49.csv
score2021_50-59.csv
score2021_60-64.csv
score2021_full.csv

Write data to csv

In [135]:
data.to_csv("./score2021/score2021_full.csv", index=False)

In [136]:
data = pd.read_csv("./score2021/score2021_full.csv", low_memory=False)

Drop STT Column, since it is just an index column if the search table returns multiple rows

In [137]:
data = data.drop(columns=['STT'])

Create Cụm Thi col, which its the code for the area the participants taking the exam

In [138]:
data['Cụm Thi'] = data['SBD'].astype('str').str[:-6].astype("int64")

In [139]:
data.mean(skipna=True)

Cụm Thi            2.679462e+01
SBD                2.681105e+07
Toán (D1)          6.661982e+00
Ngữ văn (D2)       6.471687e+00
Vật lí (D3)        6.568335e+00
Hóa học (D4)       6.625360e+00
Sinh học (D5)      5.527108e+00
KHTN (D6)          6.119569e+00
Lịch sử (D7)       4.992181e+00
Địa lí (D8)        6.968809e+00
GDCD (D9)          8.387542e+00
KHXH (D10)         7.031638e+00
Ngoại ngữ (D11)    5.921230e+00
D12                         NaN
dtype: float64

In [140]:
codedat = pd.read_csv("./SGD_Code.csv")

In [141]:
newdata = pd.merge(data,codedat,how="left",left_on=['Cụm Thi'], right_on=['Code'])
data = newdata

In [142]:
data = data.drop(columns=['Code'])

In [143]:
data.insert(2,"Tinh_new",data["Tinh"])
data = data.drop(columns = "Tinh")
data = data.rename(columns={"Tinh_new":"Tinh"})

In [144]:
data

,Cụm Thi,Họ Tên,Tinh,SBD,Ngày sinh,Giới tính,Toán (D1),Ngữ văn (D2),Vật lí (D3),Hóa học (D4),Sinh học (D5),KHTN (D6),Lịch sử (D7),Địa lí (D8),GDCD (D9),KHXH (D10),Ngoại ngữ (D11),D12
0,1,NaN,Hà Nội,1000001,NaN,NaN,2.2,3.50,NaN,NaN,NaN,NaN,2.50,5.50,NaN,NaN,NaN,NaN
1,1,NaN,Hà Nội,1000002,NaN,NaN,9.2,8.25,NaN,NaN,NaN,NaN,5.75,9.75,9.25,NaN,10.0,NaN
2,1,NaN,Hà Nội,1000003,NaN,NaN,4.4,6.25,NaN,NaN,NaN,NaN,4.25,4.00,NaN,NaN,NaN,NaN
3,1,NaN,Hà Nội,1000004,NaN,NaN,8.4,6.75,4.00,3.00,3.50,NaN,NaN,NaN,NaN,NaN,10.0,NaN
4,1,NaN,Hà Nội,1000005,NaN,NaN,8.8,8.25,8.25,5.75,5.25,NaN,NaN,NaN,NaN,NaN,9.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1740649,64,NaN,Hậu Giang,64006864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1740650,64,NaN,Hậu Giang,64006865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1740651,64,NaN,Hậu Giang,64006866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1740652,64,NaN,Hậu Giang,64006867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1740653,64,NaN,Hậu Giang,64006868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.to_csv("score2021.csv")