In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('score2021.csv')

In [10]:
df.head()

,STT,Cụm Thi,Họ Tên,SBD,Ngày sinh,Giới tính,Toán (D1),Ngữ văn (D2),Vật lí (D3),Hóa học (D4),Sinh học (D5),KHTN (D6),Lịch sử (D7),Địa lí (D8),GDCD (D9),KHXH (D10),Ngoại ngữ (D11),D12
0,1.0,NaN,NaN,1000001,NaN,NaN,2.2,3.50,NaN,NaN,NaN,NaN,2.50,5.50,NaN,NaN,NaN,NaN
1,1.0,NaN,NaN,1000002,NaN,NaN,9.2,8.25,NaN,NaN,NaN,NaN,5.75,9.75,9.25,NaN,10.0,NaN
2,1.0,NaN,NaN,1000003,NaN,NaN,4.4,6.25,NaN,NaN,NaN,NaN,4.25,4.00,NaN,NaN,NaN,NaN
3,1.0,NaN,NaN,1000004,NaN,NaN,8.4,6.75,4.00,3.00,3.50,NaN,NaN,NaN,NaN,NaN,10.0,NaN
4,1.0,NaN,NaN,1000005,NaN,NaN,8.8,8.25,8.25,5.75,5.25,NaN,NaN,NaN,NaN,NaN,9.4,NaN

In [11]:
df.dim()

AttributeError: 'DataFrame' object has no attribute 'dim'